<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <script async="" src="static/index.js"></script>
    <title>Dynamic Website Configuration</title>
  </head>
  <body>
    <h2>Dynamic Website Configuration</h2>
    <p>
      With this service, you can make services in the local network available to people on the Internet.
    </p>
    <form action="/login" method="post" class="bordered">
      <div id="login-notice">{{ login_message }}</div>
      <div class="form-entry">
        <label for="input-username">Username:</label> <input type="text" name="username"   id="input-username"   placeholder="admin">
      </div>
      <div class="form-entry">
        <label for="input-password">Password:</label> <input type="password" name="password" id="input-password" placeholder="****" value="">
      </div>
      <div class="submit">
        <input type="submit" value="Log In">
      </div>
    </form>
    <form action="/add-website" method="post" class="bordered">
      <div class="form-entry">
        <label for="input-source">IP:</label> <input type="text" name="source"   id="input-source"   placeholder="{{ config.network.network_address + 1 }}">
      </div>
      <div class="form-entry">
        <label for="input-name">Domain Name:</label> <input type="text" name="domain" id="input-domain" placeholder="subdomain or subdomain.{{ config.domain }}">
      </div>
      <div class="submit">
        <input type="submit" value="Save Website">
      </div>
    </form>
    <p>
      The following addresses are up and running:
    </p>
    <table class="bordered entry-table">
      <tr id="websites" class="heading">
        <td></td>
        <td>Domain</td>
        <td>Source</td>
        <td>Owner</td>
      </tr>
      % for website in sorted(websites["data"], key=lambda w: w["domain"]):
        <tr id="{{ website['domain'] }}" class="website">
          <td>
          % if False: #website.can_be_edited():
            <a href="javascript:edit('{{ website.source_url }}', '{{ website.sub_domain }}')">✎</a>
          % else:
            🔒
          % end
          </td>
          <td class="domain"><a href="http://{{ website['domain'] }}">{{ website["domain"] }}</a></td>
          <td class="source"><a href="{{ website['source'] }}">{{ website["source"] }}</a></td>
          <td class="owner">{{ website["owner"] }}</td>
        </tr>
      % end
    </table>
    <footer>
      You can help to <a href="https://github.com/AmmanVMS/dynamic-website-reverse-proxy">improve this service</a>.
      This service is licensed under <a href="https://opensource.org/licenses/AGPL-3.0">AGPL v3.0</a>.
      You can <a href="/source.zip">download the source code</a>.
    </footer>
  </body>
</html>

